
.bar-chart-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .bar-chart{
    width: 90% !important;
    height: 90% !important;
    align-self: center;
  }