/* App.css */

.App {
  text-align: center;
}

.weather-dashboard {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}



.charts-container{
  margin: 30px;
}

@media screen and (max-width: 768px) {
  select{
    padding: 3px;
    font-size: 12px;
  }
}